/* .lokanathfooter{
    background: #232323;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
} */
.lokanathfooter {
    background: #f0f0f0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    margin-top: 6rem;
}
h4 span {
  color: #ffaf5a;
}
.lokanath h5 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}


/* body {
    margin:0;
    padding:0;
    background: #303030;
  } */
  
  .lokanmiddle {
    margin:0;
    padding:0;
    /* position: absolute; */
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    /* text-align: center; */
    margin-top: 3rem;
  }
  
  .lokanbtn {
    display:inline-block;
    width:50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow:-5px 5px 15px -5px #f1f1f1; 
    overflow: hidden;
    position: relative;
    transition: 0.3s linear;
    text-align: center;
  }
  
  .lokanbtn i {
    line-height: 50px;
    font-size: 26px;
    transition: 0.3s linear;
  }
  
  .lokanbtn:nth-child(1) i {
    color:#3b5998;
  }
  
  .lokanbtn:nth-child(2) i {
    color:#1da1f2;
  }
  
  .lokanbtn:nth-child(3) i {
    color:#c32aa3;
  }
  
  .lokanbtn:nth-child(4) i {
    color:#db4437;
  }
  
  .lokanbtn:hover {
    transform: scale(1.1);
  }
  
  .lokanbtn:hover i {
    transform: scale(1.2);
    color: #fff;
  }
  
  .lokanbtn:before {
    content:"";
    position:absolute;
    width:120%;
    height:120%;
    transform: rotate(45deg);
    left: -110%;
    top:90%;
  }
  
  .lokanbtn:nth-child(1)::before {
    background: #3b5998;
  }
  
  .lokanbtn:nth-child(2)::before {
    background: #1da1f2;
  }
  
  .lokanbtn:nth-child(3)::before {
    background: #c32aa3;
  }
  
  .lokanbtn:nth-child(4)::before {
    background: #db4437;
  }
  
  .lokanbtn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    0% {
      left: -110%;
      top:90%;
    }
    50% {
      left:10%;
      top: -30%;
    }
    100% {
      left: -10%;
      top: -10%;
    }
  }
  .lokanathparagraph {
    margin: -42px 0 0 46px;
}